
@{
    ViewBag.Title = "FinallySale";
}

<div class="row m-2 mt-md-5 mb-md-5 mt-lg-5 mb-lg-5">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="ListProductsCar">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-0">
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary mt-5 mb-5 w-100">Seguir Comprando</a>
        <div class="row rounded border border-info pt-3 pb-3" id="ResumPedido">
        </div>
    </div>
</div>